<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Novo Pedido</title>
</head>

<body>
    <h1>Novo Pedido</h1>
    <form th:action="@{/pedidos}" method="post">
        <label for="produto">Produto:</label>
        <input type="checkbox" id="produto" name="produto" th:value="*{produto.nome}" />

        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" th:value="*{quantidade}" />

        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" name="cliente" th:value="*{cliente.nome}" />

        <label for="dataHora">Data e Hora:</label>
        <input type="datetime" id="dataHora" name="dataHora" readonly th:value="*{dataHora}" />

        <label for="status">Status:</label>
        <select id="status" name="status" aria-readonly="true">
            <option value="NOVO">Novo</option>
        </select>

        <button type="submit">Salvar</button>
    </form>
</body>

</html>